.container {
  width: 80%;
}

.content {
  max-width: 100%;
}

.container-category {
  width: 500px;
  text-align: center;
  padding: 50px;
  background-color: rgb(163, 146, 146);
  margin: 30px auto;
  border-radius: 8px;
}

.container-foods {
  width: 500px;
  padding: 50px;
  background-color: rgb(163, 146, 146);
  margin: 30px auto;
  border-radius: 8px;
}
