<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add-Food</title>
    <%-include('./component/bootstrap.ejs') %>
    <link rel="stylesheet" href="stylesheet/style.css" />
  </head>
  <body>
    <%- include("./component/navbar.ejs") %>
    <div class="container-foods">
      <h2 class="text-center">Add Foods</h2>
      <form action="POST">
        <div class="mb-3">
          <label for="name" class="form-label"> Name</label>
          <input type="text" class="form-control" id="name" />
        </div>
        <div class="mb-3">
          <label for="stok" class="form-label">Stok</label>
          <input type="text" class="form-control" id="stok" />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">image</label>
          <input type="text" class="form-control" id="image" />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" />
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <input type="text" class="form-control" id="category" />
        </div>
        <button type="submit" class="btn btn-primary d-flex mx-auto">Submit</button>
      </form>
    </div>
  </body>
</html>
